body {
    background-color: #EF007E;
    color: white;
    font-family: "Momo Trust Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #FFB0DD;
    color: white;
    font-family: "Momo Trust Display", sans-serif;
}
.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
